
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


.background{
    min-height:100vh;
    padding:20px 30px 30px;

    display:flex;
    flex-direction:column;
    justify-content: center;

    background-color: #222;
}

.span-group{
    width:80%;
    height:100%;
    margin: auto;

    display:flex;
}

.board{
    border: 2px solid #fff;
    display:inline-block;
    width:100%;
    height:clamp(80px, 150px, 200px);

}